
.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    height: auto;
    width: 80%;
    margin-left: 10%;
    background-color: rgb(236, 236, 236);
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav>button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: blueviolet;
    font-weight: 600;
    font-size: medium;
}
.banner-content{
    display: flex;
    margin-bottom: 30px;
    background-color: rgb(227, 163, 235);
    padding: 60px;
    border-radius: 50px;
    margin-top: 5px;
    box-shadow: 7px 7px 10px 2px;
}
.pillars-container{
    display: flex;
   
    
}
.main-title{
    padding-top: 40px;
}
.pillar{
    margin: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 7px 7px 10px;

    
   
}
.pillar-btn{
    width: 130px;
    height: 50px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    color: white;
    background-color: rgb(135, 73, 193);
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 30px;
}
.pillar-btn:hover{
    box-shadow: 0 0 5px rgb(154, 127, 180), 0 0 25px rgb(154, 127, 180), 0 0 50px rgb(154, 127, 180),0 0 200px rgb(154, 127, 180);
    color: #333;

}
.vision-container{
    display: flex;
}
.banner-btn{
    width: 250px;
    height: 50px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    color: white;
    background-color: rgb(135, 73, 193);
    border-radius: 10px;
    margin-top: 100px;
}
.banner-title{
    color: rgb(167, 169, 171);
}
.banner-description{
    margin: 20px;
    margin-top: 30px;
}
.dr-yunus{
    padding: 30px;
    background-color: white;
    margin-top: 50px;
    border-radius: 20px;
    border: .2px solid rgb(146, 111, 111);
}
.recent-news{
    margin-top: 50px;
    
}

.button{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: medium;
}
.satellite{
    box-shadow: 10px 10px 10px;
    
    
}
.pic{
    border-radius: 30px;
}
.satellite{
    display: flex;
    background-color: white;
    padding: 25px;
    margin: 30px;
    border-radius: 30px;
    box-shadow: 7px 7px 10px;

}

.satellite-all{
    margin-left: 50px;
}
.satellite-new{
    padding: 10px;
    border-radius: 40px;
}
.satellite-btn{
    width: 130px;
    height: 50px;
    font-family: sans-serif;
    font-size: medium;
    font-weight: 600;
    color: white;
    background-color: rgb(135, 73, 193);
    border-radius: 10px;
    margin-top: 10px;
}
.satellite-btn:hover{
    box-shadow: 0 0 5px rgb(154, 127, 180), 0 0 25px rgb(154, 127, 180), 0 0 50px rgb(154, 127, 180),0 0 200px rgb(154, 127, 180);
    color: #333;
}
.donate-container{
    display: flex;
    padding: 50px;
    margin: 50px;
    margin-top: -50px;

}
.donate-title{
    align-items: center;
    margin-top: 50px;
}
.donate{
    padding: 15px;
    margin: 30px 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 2px 10px 0px black;
}
.donate:hover{
    background: rgb(201, 133, 210);
    box-shadow: 0 0 5px rgb(154, 127, 180), 0 0 25px rgb(154, 127, 180), 0 0 50px rgb(154, 127, 180),0 0 200px rgb(154, 127, 180);
    color: #333;
}
.taka{
    width: 500px;
    height: 40px;
    color: rgb(113, 105, 105);
    background-color: white;
    text-align: center;
    margin-top: -100px;
    margin-left:280px ;
    padding-top: 25px;
    margin-bottom: 20px;
    box-shadow: 5px 3px 8px 0px black;
    font-size: large;
    border-radius: 3px;
      
}
.taka:hover{
    background: rgb(201, 133, 210);
    box-shadow: 0 0 5px rgb(154, 127, 180), 0 0 25px rgb(154, 127, 180), 0 0 50px rgb(154, 127, 180),0 0 200px rgb(154, 127, 180);
    color: #333;
}
.btn-last{
    width: 100px;
    height: 40px;
    align-items: center;
    margin-left: 500px;
    margin-top: 20px;
    background-color:rgb(135, 73, 193);
    border-radius: 4px;

}
.btn-last:hover{
    /* background: rgb(201, 133, 210); */
    box-shadow: 0 0 5px rgb(154, 127, 180), 0 0 25px rgb(154, 127, 180), 0 0 50px rgb(154, 127, 180),0 0 200px rgb(154, 127, 180);
    color: #333; 
}